<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
	<meta name="Author" content="Spruko Technologies Private Limited">
	<meta name="Keywords"
		content="admin,admin dashboard,admin dashboard template,admin panel template,admin template,admin theme,bootstrap 4 admin template,bootstrap 4 dashboard,bootstrap admin,bootstrap admin dashboard,bootstrap admin panel,bootstrap admin template,bootstrap admin theme,bootstrap dashboard,bootstrap form template,bootstrap panel,bootstrap ui kit,dashboard bootstrap 4,dashboard design,dashboard html,dashboard template,dashboard ui kit,envato templates,flat ui,html,html and css templates,html dashboard template,html5,jquery html,premium,premium quality,sidebar bootstrap 4,template admin bootstrap 4" />

	<!-- Title -->
	<title> ARBIM CONSTRUCCIÓN </title>

	<!-- Favicon -->
	<link rel="icon" href="assets/img/brand/logo.png" type="image/x-icon" />

	<!-- Icons css -->
	<link href="assets/css/icons.css" rel="stylesheet">

	<!--  Right-sidemenu css -->
	<link href="assets/plugins/sidebar/sidebar.css" rel="stylesheet">

	<!-- P-scroll bar css-->
	<link href="assets/plugins/perfect-scrollbar/p-scrollbar.css" rel="stylesheet" />



	<!--- Style css --->
	<link href="assets/css/style.css" rel="stylesheet">


	<!--- Dark-mode css --->
	<link href="assets/css/style-dark.css" rel="stylesheet">

	<!---Skinmodes css-->
	<link href="assets/css/skin-modes.css" rel="stylesheet" />

	<!--- Animations css-->
	<link href="assets/css/animate.css" rel="stylesheet">

</head>

<body class="error-page1  bg-light">

	<script type="module">

	</script>
	<!-- Page -->
	<div class="page">

		<div class="container-fluid">
			<div class="row no-gutter">
				<!-- The image half -->


				<!-- The content half -->
				<div class="col-xl-4 col-md-4  bg-white">

				</div>

				<div class="col-xl-4  col-md-4 bg-white">

					<div class="login d-flex align-items-center py-2">
						<!-- Demo content-->
						<div class="container p-0">
							<div class="row">
								<div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
									<% if(message.length>0){ %>
										<div class="alert alert-danger alert-dismissible fade show" role="alert">
											<%= message %>
										</div>
										<% } %>
											<div class="card-sigin">
												<div class="mb-5 d-flex"> <a href="index"><img
															src="assets/img/brand/logo.png" class="sign-favicon ht-40"
															alt="logo"></a>

												</div>
												<div class="card-sigin">
													<div class="main-signup-header">
														<h2>¡Bienvenido!</h2>
														<h5 class="font-weight-semibold mb-4">Ingrese sus datos para
															continuar.
														</h5>
														<form action="/signin" method="POST">
															<div class="form-group">
																<label>Email</label> <input class="form-control"
																	name="username" placeholder="Ingrese su email"
																	type="email" required>
															</div>
															<div class="form-group">
																<label>Contraseña</label> <input class="form-control"
																	name="password" placeholder="Ingrese su contraseña"
																	type="password" required>
															</div><button
																class="btn btn-main-primary btn-block">Ingresar</button>
																
														&nbsp;
														</form>

														<a href="/auth/google">
															<button type="button" class="btn btn-block btn-danger">
																<svg xmlns="http://www.w3.org/2000/svg" width="16"
																	height="16" fill="currentColor" class="bi bi-google"
																	viewBox="0 0 16 16">
																	<path
																		d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z">
																	</path>
																</svg>
																Sign in with Google
															</button>
														</a>


														<div class="main-signin-footer mt-5">
															<p><a href="restaurar_password">¿Olvidó su contraseña?</a></p>

														</div>
													</div>
												</div>

											</div>
								</div>

							</div>
						</div><!-- End -->

					</div><!-- End -->
				</div>
				<div class="col-xl-4 col-md-4  bg-white">

				</div>

			</div>

		</div>

	</div>
	<!-- End Page -->

	<!-- JQuery min js -->
	<script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Plugin Sweet alert -->

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- Bootstrap Bundle js -->
	<script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Ionicons js -->
	<script src="assets/plugins/ionicons/ionicons.js"></script>

	<!-- Moment js -->
	<script src="assets/plugins/moment/moment.js"></script>

	<!-- eva-icons js -->
	<script src="assets/js/eva-icons.min.js"></script>

	<!-- Rating js-->
	<script src="assets/plugins/rating/jquery.rating-stars.js"></script>
	<script src="assets/plugins/rating/jquery.barrating.js"></script>

	<!-- custom js -->
	<script src="assets/js/custom.js"></script>
	<% if(typeof alert !="undefined" ){ %>
		<script>
			swal({
				title: "<%= alertTitle %>",
				text: "<%= alertMessage %>",
				icon: "<%= alertIcon %>",
				showConfirmButton: "<%= showConfirmButton %>"
			}).then(() => {
				window.location = "/signin"
			});

		</script>
		<% } %>

</body>

</html>